
.contact-form__logo {

    font-family: Inika;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.61px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



.send-form__button
{
    background: #82756A;
    color: white;
}